/*-----------------------------------------general CSS-----------------------------------------*/
html {
    max-width: 100%;
    overflow-x: hidden;
}

body {


    font-family: "Roboto Slab", serif;
    font-size: 14pt;
}

/*-----------------------------------------site navigation bar CSS-----------------------------------------*/
.navbar {
    background-color: rgba(31, 39, 27, 0.9);
}

.navbar-brand {
    font-family: "Bebas Neue", cursive;
    font-size: 4vw;
    padding-right: 150px;
}

#logo {
    color: #fad12e;
}

.nav-link-custom {
    color: #fad12e !important;
}

.nav-link {
    font-family: "Roboto Slab", serif;
    font-size: 1.5vw;
}

.nav-link:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

/*-----------------------------------------site footer CSS-----------------------------------------*/
.container-footer {
    height: 100px;
    background-color: rgba(31, 39, 27, 0.9);
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.container-footer .col {
    text-align: center;
    font-size: 30px;
}

.container-footer .col i {
    color: #fad12e;
}

.container-footer>.row {
    height: 100px;
}

.container-footer .row {
    margin: 0px;
    padding: 0px;
}

/*-----------------------------------------index.html CSS-----------------------------------------*/

.main-grid {
    width: 100%;
    padding-top: 0.5em;
    text-align: center;
}

.main-grid img {
    overflow: hidden;
    width: 100%;
    height: auto;
    border-radius: 5%;
}

.main-grid h3 {
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    text-align: center;
    padding: 0.5em;
    background-color: rgb(182, 229, 186);
    border-radius: 0.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.row-home {
    background-color: rgb(182, 229, 186);
    padding: 1em;
}

.welcome {
    width: 100%;
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-size: 14pt;
}

.welcome h3 {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

/*-----------------------------------------media queries-----------------------------------------*/
@media screen and (min-width: 576px) {
    .main-grid img {
        overflow: hidden;
        width: 450px;
        height: 350px;
    }
}

@media screen and (max-width: 768px) {
    .nav-link-custom {
        font-size: 1em;
        text-align: center;
    }

    .row-contain {
        margin: 0.5em;
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .oak img {
        height: 50vh;
    }
}

@media screen and (max-width: 768px) {
    .pod {
        width: 100%;
        height: auto;
    }
}

/*-----------------------------------------activities.html CSS-----------------------------------------*/
.row-contain {
    background-color: rgb(182, 229, 186);
    border: 5px solid;
    margin-bottom: 20px;
}

.activity-text {
    padding: 10px;
}

.routes>li {
    font-weight: normal;
}

.cycling-routes>li {
    font-weight: bold;
}

.activity-list {
    border: 5px solid;
    background-color: rgb(182, 229, 186);
    margin: 0px 15px 15px 15px;
    padding: 5px;
}

h6 {
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    text-decoration: underline;
}

ul>li {
    font-family: "Roboto Slab", serif;
    font-size: 14pt;
}

.activity-list h3 {
    text-align: center;
    font-weight: bolder;
    font-family: "Roboto Slab", serif;
}

.activity-list iframe {
    padding: 5px 5px 0px 5px;
}

.activities h3 {
    text-align: center;
}

.pod {
    width: 50%;
    height: auto;
}

#edwinstowe-map {
    width: 100%;
}

/*-----------------------------------------area.html CSS-----------------------------------------*/
.video {
    width: 100%;
    height: 50vh;
    padding: 0;
    margin: 0;
}

#thoresby-vale {
    width: 100%;
    height: 100%;
    border: 5px solid;
    padding: 0;
}

.video-text {
    padding-top: 20px;
    background-color: rgb(182, 229, 186);
    border: 5px solid;
}

.container-video .row {
    margin: 1em 0em 1em 0em;
}

.container-video h3 {
    text-align: center;
    font-weight: bolder;
    font-family: "Roboto Slab", serif;
}

.developers a {
    color: black;
}

.row-robin-hood {
    text-align: center;
    background-color: rgb(182, 229, 186);
    border: 5px solid;
    margin: 20px 0px 20px 0px;
}

.row-robin-hood h3 {
    text-decoration: underline;
    font-weight: bolder;
    text-align: center;
}

.oak {
    margin: 20px 0 20px 0;
    background-color: rgb(182, 229, 186);
    border: 5px solid;
}

.oak img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.oak p {
    text-align: center;
}

.oak h3 {
    text-decoration: underline;
    font-weight: bolder;
    text-align: center;
}

/*-----------------------------------------contact.html CSS-----------------------------------------*/
.mb-3 {
    padding: 0.5em;
    margin-right: 10px;
}

.form-control {
    border: 5px solid;
}

.contact {
    margin: 1em;
    background-color: rgb(182, 229, 186);
    border: 5px solid;
}

form label {
    text-decoration: underline;
    font-weight: bolder;
}

input.btn-custom {
    background-color: #fad12e;
    border: none;
    padding: 0.6em;
    border-radius: 0.3em;
    margin-left: 1em;
    margin-bottom: 1em;
}

input.btn-custom:hover {
    background-color: rgb(122, 121, 121);
}

.map {
    width: 100%;
    height: 50vh;
    margin-top: 1em;
}

.contact h3 {
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
}