body {
    background-color: #CEF7A0;
}
.navbar {
    background-color: rgba(31, 39, 27, .9);
    height:150px;
    
}
.navbar-brand {
    font-family: 'Bebas Neue', cursive;
    font-size:30px;
    }
.nav-link {
    font-family:'Roboto Slab', serif;
    color:#fff;
}

footer {
    height:150px;
    background-color: rgba(31, 39, 27, .9);
    margin-top:100% auto;
}
.col {
    text-align:center; 
    font-size:30px;   
}
.row {
    padding-top:65px;
    
}
.description {
    width:100%;
    height:700px;
} 
.description img {
     overflow:hidden;
     width:400px;
     height:300px;
     
 }
 .description h3 {
    font-family:'Roboto Slab', serif;
    font-weight: bold;
 }
 



