html {
    max-width: 100%;
    overflow-x: hidden;

}

body {
    background-color: #cff7a0fd;
    min-height: 100vh;
    font-family: 'Roboto Slab', serif;

}

.navbar {
    background-color: rgba(31, 39, 27, .9);
    height: 100px;

}

.navbar-brand {
    font-family: 'Bebas Neue', cursive;
    font-size: 5vw;
    padding-right: 150px;
}

#logo {
    color: #fad12e;
}

.nav-link {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5vw;
}

.nav-link:hover {
    text-decoration: underline;
}

#link {
    color: yellow;
}

.active {
    text-decoration: underline;

}

.container-footer {
    height: 100px;
    background-color: rgba(31, 39, 27, .9);
    width: 100%;
    margin: 0 auto;
    padding: 0;

}

.container-footer .col {
    text-align: center;
    font-size: 30px;

}

.container-footer .col i {
    color: yellow;
}

.container-footer>.row {
    height: 100px;
}


.main-grid {
    width: 100%;
    padding-top: 5px;
    text-align: center;
}

.main-grid img {
    overflow: hidden;
    width: 100%;
    height: auto;
    border-radius: 5%;

}

.main-grid h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-align: center;
}

.row-home {
    background-color: rgb(182, 229, 186);
    padding: 10px;
    margin: 0px 10px 10px 10px;
    border: 2px solid;
}

.container-home {
    margin: 0;
    padding: 0;
}

.welcome {
    width: 100%;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;

}

.welcome h3 {
    font-weight: bold;
}

@media screen and (min-width:576px) {
    .main-grid img {
        overflow: hidden;
        width: 450px;
        height: 350px;

    }
}

/*activities.html CSS */
.row-contain {
    background-color: #fff;
    border: 2px solid;
    margin-bottom: 20px;
}

.activity-text {
    padding: 10px;
}

.routes>li {

    font-weight: normal;
}

.cycling-routes>li {
    font-weight: bold;

}

.activity-list {
    border: 2px solid;
    background-color: #fff;
    margin: 0px 15px 15px 15px;
    padding: 5px;
}

h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-decoration: underline;
}

ul>li {
    font-family: 'Roboto Slab', serif;
    font-size: 14pt;

}

.activity-list h3 {
    text-align: center;
    font-weight: bolder;
    font-family: 'Roboto Slab', serif;

}

.activity-list iframe {
    padding: 5px 5px 0px 5px;
}

.activities h3 {
    text-decoration: underline;
    text-align: center;
}

#pod {
    width: 50%;
    height: auto;
}

#edwinstowe-map {
    width: 100%;
    padding: 5px;

}

/*area.html CSS */
.container-video {
    margin: 0;
    padding: 0;
}

#thoresby-vale {
    width: 100%;
    height: 100%;
    border: 2px solid;
}

.video {
    padding: 0px;
}

.video-text {
    margin-left: 12px;
    padding: 20px 0px 0px 20px;
    background-color: #fff;
    border: 2px solid;

}

.container-video h3 {
    text-align: center;
    font-weight: bolder;
    font-family: 'Roboto Slab', serif;
}

.developers a {
    color: black;
}